.title{
    background-color: #3e403e;
    color: rgb(239, 241, 236);
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    letter-spacing: 1.5px;
    display: flex;
    padding-left: 400px;

}

.form{
 
    margin: auto;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(10, 64, 240, 0.959);
    width: 300px;
}
.form input,
.form button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form input:focus{
    border-color: #3b8c3a;
    outline: none;
}
.form button {
    background-color: #3b8c3a;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}
.form button:hover {
    background-color: #367c32;
}

.form footer {
  
    color: rgb(32, 30, 30);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 20%;
    bottom: 0;
    font-size: 0.9em;
}

.logo {
        width: 55px; /* Set the logo width */
        align-items: center;
        height: auto; /* Maintain aspect ratio */
        margin-right:5px; /* Space between logo and text */
        margin-left: 54px;
        box-shadow: #3e403e;
      
        
}
.background{
    background-image: url("/images/Eyeimage.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:fixed;  min-height: 85vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    
}
